.deck_body {
	border-radius: 16px;
	display: flex;
	justify-content: center;
	.cardinfo {
		width: 20%;
		.description {
			color: white;
			overflow-y: auto;
			height: calc(100% - 15.3vw);
			width: 100%;
			white-space: pre-line;
			display: flex;
			flex-direction: column;
			gap: 10px;
			&::-webkit-scrollbar {
				display: none;
			}
			font-size: max(2.5vh, var(--font-size-sm));
			.title {
				display: grid;
				.name {
					font-size: max(5vh, var(--font-size-md));
				}
			}
			.content {
				overflow-wrap: break-word;
			}
		}
	}
	.deck_show {
		width: 60%;
		max-height: 50vw;
		.head {
			display: flex;
			align-items: center;
			gap: 10px;
			.button_list {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
		.deck {
			width: 100%;
			height: 95%;
			overflow-y: auto;
			&::-webkit-scrollbar {
				display: none;
			}
			.main {
				width: 100%;
				aspect-ratio: 5 / 2;
			}
			.side, .extra {
				width: 100%;
				aspect-ratio: 15 / 1;
			}
		}
	}
	.search {
		width: 20%;
		height: 100%;
		.button_list {
			display: flex;
			gap: 10px;
		}
		.var-list {
			color: white !important;
			width: 100%;
			height: 90%;
			overflow-y: auto;
			&::-webkit-scrollbar {
				display: none;
			}
			.list {
				width: 100%;
				display: flex;
				gap: 10px;
				.card_name {
					display: grid;
					color: white;
					width: 100%;
					overflow: hidden;
					white-space: nowrap;
					.title {
						font-size: max(3vh, var(--font-size-md));
					}
					.description {
						color: rgb(162, 162, 162);
						font-size: max(2vh, var(--font-size-sm));
					}
				}
				.searcher {
					width: 30%;
					.card {
						width: 100%;
					}
				}
			}
		}
	}
	.card {
		div {
			position: relative;
			.var-badge {
				position: absolute;
				right: 0;
			}
		}
	}
}
.var-popup {
	.var-form {
		width: 50vw;
		height: 90%;
		overflow-y: auto;
		.var-select, .var-input {
			width: 50%;
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
}