@use './font.scss';
.body {
	.deck_list {
		display: flex;
		gap: 10px;
		position: relative;
		.list {
			width: 40%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			.button_list {
				display: flex;
				gap: 10px;
			}
			.var-list {
				height: 100%;
				width: 80%;
				display: flex;
				flex-direction: column;
				gap: 10px;
				overflow-y: auto;
				text-overflow: ellipsis;
				white-space: nowrap;
				&::-webkit-scrollbar {
					display: none;
				}
				.var-button {
					overflow: hidden;
				}
			}
		}
		.deck_show {
			width: 60%;
			height: 100%;
			overflow: hidden;
			mask: radial-gradient(circle, white 0%, white 20%, transparent 100%);
			-webkit-mask: radial-gradient(circle, white 0%, white 20%, transparent 100%);
			.deck {
				display: grid;
				justify-items: center;
				.deck_name {
					span {
						color: font.$text-color;
						font-family: 'title';
						font-size: 10vh;
						white-space: nowrap;
					}
				}
				.cards {
					width: 100%;
				}
			}
		}
		.deck_button {
			position: absolute;
			display: flex;
			flex-direction: row-reverse;
			gap: 10px;
			right: 10%;
			bottom: 0%;
		}
	}
}

.var-popup {
	.var-form {
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 25vw;
		height: 90%;
		overflow-y: auto;
		.var-select, .var-input {
			width: 100%;
		}
		&::-webkit-scrollbar {
			display: none;
		}
		.button_list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: center;
		}
	}
}