@use './font.scss';
.deck_body {
	border-radius: 16px;
	display: flex;
	justify-content: center;
	gap: 0;
	position: relative;
	.var-card {
		--card-background: transparent !important;
		--card-title-color: font.$text-color !important;
		color: font.$text-color !important;
		font-family: 'text' !important;
		.var-card__subtitle {
			color: font.$text-color !important;
		}
	}
	.cardinfo {
		width: calc(100% - 70vw - 64px);
		.description {
			color: font.$text-color;
			font-family: 'text';
			overflow-y: auto;
			height: 90%;
			width: calc(100% - 32px);
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	.deck {
		width: calc(52.5vw + 32px);
		display: flex;
		flex-direction: column;
		.main {
			height: 20.4vw;
		}
		.side, .extra {
			height: 10.2vw;
		}
	}
	.search {
		width: calc(17.5vw + 32px);
	}

	.search, .main, .side, .extra {
		.card {
			width: 3.5vw;
			height: 5.1vw;
			display: inline-block;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}