@use './font.scss';
.deck_body {
	border-radius: 16px;
	display: flex;
	justify-content: center;
	gap: 0;
	position: relative;
	.var-card {
		--card-background: transparent !important;
	}
	.cardinfo {
		width: calc((100% - 52.5vw - 32px) / 2);
		.description {
			color: font.$text-color;
			font-family: 'text';
			overflow-y: auto;
			height: calc(100% - 15.3vw - 32px);
			width: calc(100% - 10px);
			font-size: 3vh;
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
	.deck {
		width: calc(52.5vw + 32px);
		.main {
			height: 20.4vw;
			max-height: calc(74.97px * 4);
		}
		.side, .extra {
			height: 5.1vw;
			max-height: 74.97px;
		}
		.head {
			display: flex;
			gap: 10px;
			.button_list {
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}
	.search {
		width: calc((100% - 52.5vw - 32px) / 2);
		height: 100%;
		.var-list {
			--list-loading-color: font.$text-color !important;
			--list-finished-color: font.$text-color !important;
			--list-error-color: font.$text-color !important;
			color: font.$text-color !important;
			font-family: 'text';
			width: 100%;
			height: 90%;
			overflow-y: auto;
			&::-webkit-scrollbar {
				display: none;
			}
			.var-cell {
				color: font.$text-color !important;
				font-size: 3vh;
			}
		}
	}
}