$text-color: white;
$hover-color: rgba($color: black, $alpha: 0.2);
$text-size: 6vh;
// $hover-color: rgba($color: #7FBF40, $alpha: 0.5);
// $boder-color: #26BECA;
$boder-color: #ACC927;
$subtext-color: rgb(162, 162, 162);

@font-face {
	font-family: 'title';
	src: url('../font/title.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'menu';
	src: url('../font/Alibaba-PuHuiTi-Heavy.ttf');
	font-weight: normal;
	font-style: normal;
}