$text-color: white;

@font-face {
	font-family: 'title';
	src: url('../font/title.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'text';
	src: url('../font/text.woff');
	font-weight: normal;
	font-style: normal;
}