@use './font.scss';

.menu {
	transform: translateX(10%);
	color: font.$text-color;
	font-family: 'title';
	height: 100%;
	width: 50%;
	white-space: nowrap;
	display: flex;
	justify-content: left;
	justify-items: center;
	align-items: center;
	z-index: 10;
	.content {
		height: 90%;
		max-width: 20%;
		display: flex;
		flex-direction: column;
		.list {
			height: 70%;
			display: grid;
			gap: 10px;
			.item_back {
				width: 0;
				font-family: 'menu';
				font-style: italic;
				background-color: font.$hover-color;
				height: 100%;
				transition: all 0.4s ease;
				border: 2px solid rgb(white, 0);
				.item {
					font-size: 7vh;
					user-select: none;
					transition: all 0.4s ease;
					&:hover {
						transform: translate(10%);
					}
				}
				&:hover {
					cursor: pointer;
					width: 140%;
					border: 2px solid font.$boder-color;
				}
			}
		}
		.title {
			height: 20%;
			font-size: 10vh;
		}
		.title, .item_back {
			display: none;
		}
	}
}