.Vue-Toastification__toast--default {
	background: rgba(255, 255, 255, 0.3) !important;
	border: 2px solid rgba($color: #1976d2, $alpha: 0.5) !important;
	backdrop-filter: blur(10px) !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.Vue-Toastification__toast--info {
	background: rgba(255, 255, 255, 0.3) !important;
	border: 2px solid rgba($color: #2196f3, $alpha: 0.5) !important;
	backdrop-filter: blur(10px) !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.Vue-Toastification__toast--success {
	background: rgba(255, 255, 255, 0.3) !important;
	border: 2px solid rgba($color: #4caf50, $alpha: 0.5) !important;
	backdrop-filter: blur(10px) !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.Vue-Toastification__toast--error {
	background: rgba(255, 255, 255, 0.3) !important;
	border: 2px solid rgba($color: #ff5252, $alpha: 0.5) !important;
	backdrop-filter: blur(10px) !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}
.Vue-Toastification__toast--warning {
	background: rgba(255, 255, 255, 0.3) !important;
	border: 2px solid rgba($color: #ffc107, $alpha: 0.5) !important;
	backdrop-filter: blur(10px) !important;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
}