.opacity {
	&-enter-active,
	&-leave-active {
		transition: opacity 0.2s ease;
	}

	&-enter-from,
	&-leave-to {
		opacity: 0;
	}

	&-enter-to,
	&-leave-from {
		opacity: 1;
	}
}

.move_left {
	&-enter-active,
	&-leave-active {
		transition: transform 0.5s ease;
	}

	&-enter-from,
	&-leave-to {
		transform: translateX(-200%);
	}

	&-enter-to,
	&-leave-from {
		transform: translateX(0%);
	}
}

.move_right {
	&-enter-active,
	&-leave-active {
		transition: transform 0.2s ease;
	}

	&-enter-from,
	&-leave-to {
		transform: translateX(200%);
	}

	&-enter-to,
	&-leave-from {
		transform: translateX(0%);
	}
}

.scale {
	&-enter-active,
	&-leave-active {
		transition: transform 0.5s;
	}

	&-enter-from,
	&-leave-to {
		transform: scale(0);
	}

	&-enter-to,
	&-leave-from {
		transform: scale(1);
	}
}