.setting {
	width: 80vw;
	height: calc(80vh + 2px);
	position: relative;
	border: 1px solid white;
	border-radius: 10px;
	.expansions, .items {
		position: absolute;
		width: 100%;
		height: calc(80vh - 44px);
		overflow-y: auto;
		&::-webkit-scrollbar {
			display: none;
		}
		.var-list {
			width: 100%;
		}
	}
	.expansions {
		.var-cell {
			:deep(.var-cell__extra) {
				display: flex;
				height: 40px;
				.result {
					width: 30vw;
					position: relative;
					display: flex;
					justify-content: right;
					align-items: center;
				}
			}
		}
	}
	.items {
		.var-cell {
			:deep(.var-cell__extra) {
				display: flex;
				height: 40px;
				.var-input {
					width: 30vw;
				}
			}
		}
	}
}
.download_custom {
	display: flex;
	flex-direction: column;
	align-content: center;
	color: white;
	gap: 10px;
	width: 50vw;
	height: 70vh;
	overflow-y: auto;
	.var-select, .var-input {
		width: 100%;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	.buttons {
		position: relative;
		width: 50vw;
		> div {
			top: 0;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}