.var-form {
	display: flex;
	flex-direction: column;
	width: 50vw;
	max-height: 80vh;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.2);
	.exit {
		align-self: left;
		margin-left: 2%;
		margin-top: 1%;
	}
	.content {
		align-self: center;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-content: center;
		align-items: center;
		overflow-y: auto;
		width: 80%;
		margin-bottom: 5%;
		.var-select, .var-input, .var-auto-complete, .pass, .var-list {
			width: 100%;
		}
		.extra {
			width: 20px;
			display: flex;
		}
		.home {
			height: 265px;
			width: 100%;
			display: flex;
			gap : 10%;
			.var-list {
				width: 60%;
				.var-cell {
					width: 100%;
				}
			}
			.info {
				display: flex;
				flex-direction: column;
				width: 30%;
				font-size: max(2vh, var(--font-size-md));
				color: white;
			}
		}
		.pass, .start {
			display: grid;
			width: 100%;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			align-items: end;
		}
		.start {
			height: 100px;
			grid-template-columns: repeat(3, 1fr);
			font-size: max(2vh, var(--font-size-md));
			color: white;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
}