.menu {
	color: white;
	font-size: max(7vh, 16px);
	h1 {
		position: fixed;
		color: white;
		font-size: max(14vh, 48px);
		transform: translate(10vw, 5vh);
		text-shadow:
			0 0 5px aqua,
			0 0 10px aqua,
			0 0 20px aqua,
			0 0 40px aqua;
	}
	.menu-items {
		position: fixed;
		transform: translateX(70vw);
		height: 90vh;
		display: grid;
		gap: 10px;
		align-content: center;
		align-items: center;
		span {
			transition: all 0.4s ease;
			text-shadow: var(--shadow);
			&:hover {
				cursor: pointer;
			}
		}
	}
	.menu-pointer {
		position: fixed;
		text-shadow:
			0 0 5px aqua,
			0 0 10px aqua,
			0 0 20px aqua,
			0 0 40px aqua;
		transition: all 0.4s ease;
		transform: translate(var(--x), var(--y));
	}
}