.menu {
	position: relative;
	color: white;
	width: 100%;
	height: 100%;
	.menu-cards {
		position: absolute;
		top : 10vh;
		left: calc(50% - (45vh / 1.45) / 2);
		height: 45vh;
		width: calc(45vh / 1.45);
		transition: all 0.4s ease;
		img {
			width: 100%;
			height: 100%;
			transition: all 0.4s ease;
		}
		transform: rotateZ(var(--rotate));
		transform-origin: 50% 100%;
	}
	.var-button {
		position: absolute;
		right: 20px;
		bottom: 20px;
		width: max(70px, 8vw);
	}
}