name: build tauri-ygo

on:
  push:
    branches:
      - develop
    
jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'


    - name: Install wget and unzip
      shell: powershell
      run: |
        Set-ExecutionPolicy Bypass -Scope Process -Force
        [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
        choco install wget unzip -y

    - name: Download Assets
      shell: cmd
      run: |
        cd .ci
        pip install BeautifulSoup4 requests
        python pics.py
        dir
