name: build tauri-ygo

on:
  push:
    branches:
      - main
    
jobs:
  push-gitcode:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Git Config
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"

      - name: Set SSH Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan gitcode.com >> ~/.ssh/known_hosts

      - name: Push to GitCode
        run: |
          git remote add gitcode git@gitcode.com:jwyxym/tauri-ygo.git
          git fetch gitcode
          git checkout -b gitcode-main gitcode/main
          git merge origin/main
          git push gitcode gitcode-main:main

  build-android:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Setup Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Setup Android SDK and NDK
      uses: android-actions/setup-android@v3
      with:
        accept-android-sdk-license: true

    - name: Set Android Environment
      run: |
        echo "ANDROID_HOME=$ANDROID_SDK_ROOT" >> $GITHUB_ENV
        echo "ANDROID_NDK_HOME=$ANDROID_NDK_ROOT" >> $GITHUB_ENV
        echo "NDK_HOME=$ANDROID_NDK_ROOT" >> $GITHUB_ENV
        echo "$ANDROID_SDK_ROOT/cmdline-tools/latest/bin" >> $GITHUB_PATH
        echo "$ANDROID_SDK_ROOT/platform-tools" >> $GITHUB_PATH
        echo "$ANDROID_SDK_ROOT/build-tools/34.0.0" >> $GITHUB_PATH

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.18.0'

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.88.0

    - name: Rust cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: './src-tauri -> target'

    - name: Write Tauri Config
      run: |
        npm run json:android

    - name: NPM Init
      run: |
        npm install
    
    - name: Android Init
      run: |
        npm run tauri:android:init

    - name: Android copy
      run: |
        npm run copy:sh

    - name: Android icon
      run: |
        npm run icon

    - name: Android build
      run: |
        npm run tauri:android:build

    - name: Decode Keystore File
      run: |
        echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > tauri-ygo.jks

    - name: Sign apk
      run: |
        mkdir build
        apksigner sign --ks ./tauri-ygo.jks --ks-key-alias ${{ secrets.KEY_ALIAS }} --key-pass pass:${{ secrets.KEYSTORE_PASSWORD }} --ks-pass pass:${{ secrets.KEYSTORE_PASSWORD }} --out ./build/tauri-ygo.apk ./src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-unsigned.apk

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo.apk
        path: ./build/tauri-ygo.apk

  build-windows:
    name: build-windows-${{ matrix.target }}
    runs-on: ${{ matrix.run-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64
            run-on: windows-latest
          - target: aarch64
            run-on: windows-11-arm
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.18.0'

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.88.0

    - name: Rust cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: './src-tauri -> target'

    - name: Download assets
      uses: robinraju/release-downloader@v1.10
      with:
        tag: assets-latest
        fileName: "assets.zip"
        out-file-path: "./src-tauri/"

    - name: Write Tauri Config
      shell: cmd
      run: |
        xcopy .ci src-tauri /s /Y /e /I
        npm run json:windows

    - name: NPM Init
      run: |
        npm install

    - name: Windows build
      run: |
        npm run tauri:build
    
    - name: Copy
      shell: cmd
      run: |
        set "found_msi="
        set "found_exe="
        mkdir build

        for %%f in (.\src-tauri\target\release\bundle\msi\*) do (
            if not defined found_msi (
                copy "%%f" ".\build\tauri-ygo.msi"
                set "found_msi=1"
            )
        )

        for %%f in (.\src-tauri\target\release\bundle\nsis\*) do (
            if not defined found_exe (
                copy "%%f" ".\build\tauri-ygo.exe"
                set "found_exe=1"
            )
        )

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-windows-${{ matrix.target }}.exe
        path: .\build\tauri-ygo.exe

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-windows-${{ matrix.target }}.msi
        path: .\build\tauri-ygo.msi

  build-macos:
    name: build-macos-${{ matrix.target }}
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64
          - target: aarch64

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.18.0'

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.88.0
        target: ${{ matrix.target }}-apple-darwin

    - name: Rust cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: './src-tauri -> target'

    - name: Download assets
      uses: robinraju/release-downloader@v1.10
      with:
        tag: assets-latest
        fileName: "assets.zip"
        out-file-path: "./src-tauri/"

    - name: Write Tauri Config
      run: |
        cp -r .ci/* src-tauri/
        npm run json:macos

    - name: NPM Init
      run: |
        npm install

    - name: Macos build
      run: |
        npm run tauri:build

    - name: Copy
      run: |
        mkdir -p ./build
        DMG_FILES=(./src-tauri/target/release/bundle/dmg/*.dmg)
        cp "${DMG_FILES[0]}" ./build/tauri-ygo.dmg

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-macos-${{ matrix.target }}.dmg
        path: ./build/tauri-ygo.dmg

  build-linux:
    name: build-linux-${{ matrix.target }}
    runs-on: ${{ matrix.run-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64
            run-on: ubuntu-latest
          - target: aarch64
            run-on: ubuntu-24.04-arm
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.18.0'

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.88.0

    - name: Rust cache
      uses: swatinem/rust-cache@v2
      with:
        workspaces: './src-tauri -> target'

    - name: Download assets
      uses: robinraju/release-downloader@v1.10
      with:
        tag: assets-latest
        fileName: "assets.zip"
        out-file-path: "./src-tauri/"

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        libwebkit2gtk-4.1-dev \
        libgtk-3-dev \
        libjavascriptcoregtk-4.1-dev \
        libsoup-3.0-dev \
        pkg-config \
        build-essential

    - name: Write Tauri Config
      run: |
        cp -r .ci/* src-tauri/
        npm run json:linux

    - name: NPM Init
      run: |
        npm install

    - name: Linux build
      run: |
        npm run tauri:build
    
    - name: Copy
      run: |
        mkdir -p ./build
        DEB_FILES=(./src-tauri/target/release/bundle/deb/*.deb)
        cp "${DEB_FILES[0]}" ./build/tauri-ygo.deb
        RPM_FILES=(./src-tauri/target/release/bundle/rpm/*.rpm)
        cp "${RPM_FILES[0]}" ./build/tauri-ygo.rpm
        DMG_FILES=(./src-tauri/target/release/bundle/appimage/*.AppImage)
        cp "${DMG_FILES[0]}" ./build/tauri-ygo.AppImage

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-linux-${{ matrix.target }}.deb
        path: .\build\tauri-ygo.deb

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-linux-${{ matrix.target }}.rpm
        path: .\build\tauri-ygo.rpm

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-linux-${{ matrix.target }}.AppImage
        path: .\build\tauri-ygo.AppImage

  create-release:
    needs: [build-android, build-windows, build-macos]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: build

      - name: Delete old Release
        run: |
          TAG_NAME=release-latest
          gh release delete "$TAG_NAME" --yes || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete old tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git fetch --tags
          git tag -d release-latest || true
          git push origin :refs/tags/release-latest || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git tag release-latest
          git push origin release-latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release-latest
          release_name: release-latest
          draft: false
          prerelease: false

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo.apk/tauri-ygo.apk
          asset_name: tauri-ygo.apk
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-windows-x86_64.msi/tauri-ygo.msi
          asset_name: tauri-ygo-windows-x86_64.msi
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-windows-x86_64.exe/tauri-ygo.exe
          asset_name: tauri-ygo-windows-x86_64.exe
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-windows-aarch64.msi/tauri-ygo.msi
          asset_name: tauri-ygo-windows-aarch64.msi
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-windows-aarch64.exe/tauri-ygo.exe
          asset_name: tauri-ygo-windows-aarch64.exe
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-macos-x86_64.dmg/tauri-ygo.dmg
          asset_name: tauri-ygo-macos-x86_64.dmg
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-macos-aarch64.dmg/tauri-ygo.dmg
          asset_name: tauri-ygo-macos-aarch64.dmg
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-linux-x86_64.deb/tauri-ygo.deb
          asset_name: tauri-ygo-linux-x86_64.deb
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-linux-x86_64.rpm/tauri-ygo.rpm
          asset_name: tauri-ygo-linux-x86_64.rpm
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-linux-x86_64.AppImage/tauri-ygo.AppImage
          asset_name: tauri-ygo-linux-x86_64.AppImage
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-linux-aarch64.deb/tauri-ygo.deb
          asset_name: tauri-ygo-linux-aarch64.deb
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-linux-aarch64.rpm/tauri-ygo.rpm
          asset_name: tauri-ygo-linux-aarch64.rpm
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-linux-aarch64.AppImage/tauri-ygo.AppImage
          asset_name: tauri-ygo-linux-aarch64.AppImage
          asset_content_type: application/octet-stream