name: build tauri-ygo

on:
  push:
    branches:
      - main
    
jobs:
  build-android:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Setup Java 21
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Setup Android SDK and NDK
      uses: android-actions/setup-android@v3
      with:
        accept-android-sdk-license: true

    - name: Set Android Environment
      run: |
        echo "ANDROID_HOME=$ANDROID_SDK_ROOT" >> $GITHUB_ENV
        echo "ANDROID_NDK_HOME=$ANDROID_NDK_ROOT" >> $GITHUB_ENV
        echo "NDK_HOME=$ANDROID_NDK_ROOT" >> $GITHUB_ENV
        echo "$ANDROID_SDK_ROOT/cmdline-tools/latest/bin" >> $GITHUB_PATH
        echo "$ANDROID_SDK_ROOT/platform-tools" >> $GITHUB_PATH
        echo "$ANDROID_SDK_ROOT/build-tools/34.0.0" >> $GITHUB_PATH

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.18.0'

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.88.0

    - name: Write Tauri Config
      shell: bash
      run: |
        npm run json:android

    - name: NPM Init
      shell: bash
      run: |
        npm install
    
    - name: Android Init
      shell: bash
      run: |
        npm run tauri android init

    - name: Android copy
      shell: bash
      run: |
        npm run copy:sh

    - name: Android icon
      shell: bash
      run: |
        npm run icon

    - name: Android build
      shell: bash
      run: |
        npm run tauri android build

    - name: Decode Keystore File
      shell: bash
      run: |
        echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > tauri-ygo.jks

    - name: Sign apk
      shell: bash
      run: |
        mkdir build
        apksigner sign --ks ./tauri-ygo.jks --ks-key-alias ${{ secrets.KEY_ALIAS }} --key-pass pass:${{ secrets.KEYSTORE_PASSWORD }} --ks-pass pass:${{ secrets.KEYSTORE_PASSWORD }} --out ./build/tauri-ygo.apk ./src-tauri/gen/android/app/build/outputs/apk/universal/release/app-universal-release-unsigned.apk

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo.apk
        path: ./build/tauri-ygo.apk

  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
    
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22.18.0'

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.88.0

    - name: Install wget and unzip
      shell: powershell
      run: |
        Set-ExecutionPolicy Bypass -Scope Process -Force
        [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
        choco install wget unzip -y

    - name: Install 7zip
      shell: powershell
      run: |
        Set-ExecutionPolicy Bypass -Scope Process -Force
        [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072
        choco install 7zip -y

    - name: Download assets
      uses: robinraju/release-downloader@v1.10
      with:
        tag: assets-latest
        fileName: "assets.zip"
        out-file-path: "./src-tauri/"

    - name: Write Rust File
      shell: cmd
      run: |
        xcopy .ci src-tauri /s /Y /e /I
        npm run json:windows

    - name: NPM Init
      shell: cmd
      run: |
        npm install

    - name: Windows build
      shell: cmd
      run: |
        npm run tauri build
    
    - name: Copy
      shell: cmd
      run: |
        set "found_msi="
        set "found_exe="
        mkdir build

        for %%f in (.\src-tauri\target\release\bundle\msi\*) do (
            if not defined found_msi (
                copy "%%f" ".\build\tauri-ygo-windows.msi"
                set "found_msi=1"
            )
        )

        for %%f in (.\src-tauri\target\release\bundle\nsis\*) do (
            if not defined found_exe (
                copy "%%f" ".\build\tauri-ygo-windows.exe"
                set "found_exe=1"
            )
        )

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-windows.exe
        path: .\build\tauri-ygo-windows.exe

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo-windows.msi
        path: .\build\tauri-ygo-windows.msi

    - name: Upload File
      uses: actions/upload-artifact@v4
      with:
        name: tauri-ygo.exe
        path: .\src-tauri\target\release\tauri-ygo.exe

  push-gitcode:
    runs-on: ubuntu-latest
    needs: [build-android, build-windows]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Git Config
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "github-actions@github.com"

      - name: Set SSH Key
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan gitcode.com >> ~/.ssh/known_hosts

      - name: Push to GitCode
        run: |
          git remote add gitcode git@gitcode.com:jwyxym/tauri-ygo.git
          git fetch gitcode
          git checkout -b gitcode-main gitcode/main
          git merge origin/main
          git push gitcode gitcode-main:main

  create-release:
    needs: [build-android, build-windows]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: build

      - name: Delete old Release
        run: |
          TAG_NAME=release-latest
          gh release delete "$TAG_NAME" --yes || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete old tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git fetch --tags
          git tag -d release-latest || true
          git push origin :refs/tags/release-latest || true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create tag
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git tag release-latest
          git push origin release-latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release-latest
          release_name: release-latest
          draft: false
          prerelease: false

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo.apk/tauri-ygo.apk
          asset_name: tauri-ygo.apk
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-windows.msi/tauri-ygo-windows.msi
          asset_name: tauri-ygo-windows.msi
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo-windows.exe/tauri-ygo-windows.exe
          asset_name: tauri-ygo-windows.exe
          asset_content_type: application/octet-stream

      - name: Upload
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./build/tauri-ygo.exe/tauri-ygo.exe
          asset_name: tauri-ygo.exe
          asset_content_type: application/octet-stream