$boder-color: #9ed3ff;
.ygopro3__duel {
	.ygopro3__duel__scene {
		opacity: 0;
		transition: all 0.5s ease;
		transform: translateX(80px);
		.ygopro3__duel__btn {
			width: var(--height);
			height: calc(var(--width) / 3);
			color : $boder-color;
			text-shadow:
				-1px -1px 0 black,
				1px -1px 0 black,
				-1px 1px 0 black,
				1px 1px 0 black;
			font-size: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid $boder-color;
			> span {
				opacity: 0;
				transition: all 0.1s ease;
				&.show {
					opacity: 1;
				}
			}
		}
		.ygopro3__duel__back {
			width: calc(var(--width) * 12);
			position: relative;
			&.turn_self {
				box-shadow: 0 0 15px $boder-color;
			}
			&.turn_oppo {
				box-shadow: 0 0 15px red;
			}
			&.turn_self::after {
				background: conic-gradient(
					from var(--angle),
					$boder-color,
					#d8f2ff,
					#00d5ff,
					#5f9cff,
					$boder-color
				);
			}
			&.turn_oppo::after {
				background: conic-gradient(
					from var(--angle),
					red,
					#ffd0d0,
					#ff4a4a,
					#b80000,
					red
				);
			}
			&::after {
				content: '';
				position: absolute;
				inset: -4px;
				padding: 4px;
				pointer-events: none;
				-webkit-mask:
					linear-gradient(#fff 0 0) content-box,
					linear-gradient(#fff 0 0);
				mask:
					linear-gradient(#fff 0 0) content-box,
					linear-gradient(#fff 0 0);
				-webkit-mask-composite: xor;
				mask-composite: exclude;
				animation: rotate 2s linear infinite;
			}
			> img {
				display: block;
				width: 100%;
				height: calc(var(--height) * 4);
				opacity: 0;
				transition: all 0.2s ease;
				&.show {
					opacity: 1;
				}
			}
			> .ygopro3__duel__back_oppo {
				transform: scaleY(-1);
			}
		}
		.ygopro3__duel__plaid {
			width: var(--height);
			height: var(--height);
			border: 2px solid $boder-color;
			transition: all 0.2s ease;
			&.disable {
				box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.6);
			}
			&.forbbiden {
				background:
					linear-gradient(
						to top right,
						transparent calc(50% - 2px),
						rgba(255, 50, 50, 0.8) calc(50% - 2px),
						rgba(255, 50, 50, 0.8) calc(50% + 2px),
						transparent calc(50% + 2px)
					),
					linear-gradient(
						to bottom right,
						transparent calc(50% - 2px),
						rgba(255, 50, 50, 0.8) calc(50% - 2px),
						rgba(255, 50, 50, 0.8) calc(50% + 2px),
						transparent calc(50% + 2px)
					),
					rgba(255, 0, 0, 0.15);
				border-color: rgba(255, 50, 50, 0.8);
			}
			&.selected {
				border-color: yellow;
			}
		}
		.ygopro3__duel__activate {
			opacity: 0;
			height: 48px;
			display: flex;
			gap: 2px;
			justify-content: center;
			transition: opacity 0.1s ease;
			pointer-events: none;
			> img {
				opacity: 0;
				display: none;
				height: 100%;
				transition: all 0.1s ease;
				pointer-events: initial;
				&.show {
					opacity: 1;
					display: initial;
				}
			}
			&.show {
				opacity: 1;
			}
		}
		.ygopro3__duel__card {
			position: relative;
			width: var(--width);
			height: var(--height);
			opacity: 0;
			color: white;
			transition: opacity 0.2s ease;
			> .show,
			.ygopro3__duel__card__img .show,
			&.show {
				opacity: 1 !important;
			}
			.ygopro3__duel__card__img {
				position: absolute;
				width: var(--width);
				height: var(--height);
				transition: all 0.2s ease;
				outline-color: blue;
			}
			.ygopro3__duel__card__img {
				background-size: cover;
				&.forbbiden {
					filter: grayscale(100%)
				}
				&.set {
					box-shadow: 0 0 8px rgba(119, 166, 255, 1);
				}
				&.activate {
					box-shadow: 0 0 8px yellow;
				}
				&.activated {
					filter: brightness(1.5);
				}
				&.disable {
					filter: grayscale(100%);
				}
				&.selected {
					transform: translateY(calc(var(--height) / -2)) !important;
				}
				&.equip {
					outline: 2px solid blue;
				}
				> div {
					position: absolute;
					opacity: 0;
					user-select: none;
					pointer-events: none;
				}
				.ygopro3__duel__card__chain {
					width: calc(var(--width) - 10px);
					height: calc(var(--width) - 10px);
					border-radius: 50%;
					transform: translate(5px, calc((var(--height) - var(--width)) / 2));
					transition: all 0.1s ease;
					color: yellow;
					display: flex;
					justify-content: center;
					align-items: center;
					border: 2px solid yellow;
					span {
						font-size: 64px;
						text-shadow:
							-1px -1px 0 black,
							1px -1px 0 black,
							-1px  1px 0 black,
							1px  1px 0 black;
					}
				}
				.ygopro3__duel__card__border {
					border: 5px solid yellow;
					position: relative;
					width: 100%;
					height: 100%;
				}
			}
			.ygopro3__duel__card__atk {
				background-color: rgba(0, 0, 0, 0.3);
				position: absolute;
				opacity: 0;
				transform: translateY(calc(var(--height) - 16px));
				width: var(--width);
				text-shadow:
					-1px -1px 0 black,
					1px -1px 0 black,
					-1px 1px 0 black,
					1px 1px 0 black;
				font-size: 20px;
				display: flex;
				justify-content: center;
				transition: opacity 0.2s ease;
				user-select: none;
				pointer-events: none;
			}
			.ygopro3__duel__card__info {
				position: absolute;
				opacity: 0;
				transform: translateY(calc(var(--height) / 2));
				height: 16px;
				width: var(--height);
				text-shadow:
					-1px -1px 0 black,
					1px -1px 0 black,
					-1px 1px 0 black,
					1px 1px 0 black;
				font-size: 18px;
				transition: opacity 0.2s ease;
				user-select: none;
				pointer-events: none;
				> div {
					height: 100%;
					width: 28px;
					position: absolute;
					display: flex;
					gap: 2px;
					opacity: 0;
					transition: opacity 0.2s ease;
					> img {
						height: 100%;
					}
					> span {
						transition: opacity 0.1s ease;
						&.TUNER {
							color: lightgreen;
						}
					}
				}
			}
			.ygopro3__duel__card__counter {
				position: absolute;
				opacity: 0;
				transform: translateY(calc(var(--height) / 2 - 20px));
				height: 16px;
				width: var(--height);
				color: white;
				text-shadow:
					-1px -1px 0 black,
					1px -1px 0 black,
					-1px 1px 0 black,
					1px 1px 0 black;
				font-size: 20px;
				align-items: center;
				transition: all 0.2s ease;
				user-select: none;
				pointer-events: none;
				> div {
					position: absolute;
					opacity: 0;
					height: 100%;
					width: 28px;
					display: flex;
					> img {
						height: 100%;
					}
				}
			}
		}
	}

	.ygopro3__duel__scene.show {
		opacity: 1;
	}
}

@property --angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}

@keyframes rotate {
  	to { --angle: 360deg; }
}
